{% extends 'base.html' %}

{% block content %}
<div class="container weather-container">
    <h1>Weather App</h1>
</div>
<div class="container weather-container">
    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter city name" value="{{ city }}">
            <button type="submit" class="btn btn-primary" id="btn">Check!</button>
        </div>
        <div class="form-check" id="radio-group">
            <div class="form-check form-check-inline">
                <label for="" class="form-check-label">Celcius</label>
                <input type="radio" class="form-check input" name="temp" value="Celcius" id="celcius-radio">
            </div>
            <div class="form-check form-check-inline">
                <label for="" class="form-check-label">Fahrenheit</label>
                <input type="radio" class="form-check input" name="temp" value="Fahrenheit" id="fahrenheit-radio">
            </div>
            <div class="form-check form-check-inline">
                <label for="" class="form-check-label">Kelvin</label>
                <input type="radio" class="form-check input" name="temp" value="Kelvin" id="kelvin-radio">
            </div>
        </div>
    </form>
</div>
<div class="container weather-container hidden weather-info" id="weather-info">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ city }}, {{ country }}</h5>
            <h6 class="card-subtitle mb-2">Current temperature: {{ current_temperature }} {{ temp_simb }}</h6>
            <p class="card-text">Feels Like: {{ feels_like }} {{ temp_simb }}</p>
            <p class="card-text">Max: {{ max }} {{ temp_simb }}, Min: {{ min }} {{ temp_simb }}</p>
            <div id="img-container">
                {{ weather }}
                <img src="https://openweathermap.org/img/wn/{{ icon }}.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container hidden weather-container" id="forecast-title">
    <h1>Next 5 Days Forecast</h1>
</div>
<div class="container weather-info">
    <div class="row">
        
            {% for forecast in forecasts %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="min-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ forecast.date }}</h5>
                        <h6 class="card-subtitle mb-2">Temperature: {{ forecast.temp }} {{ temp_simb }}</h6>
                        <p class="card-text">Feels Like: {{ forecast.feels_like }} {{ temp_simb }}</p>
                        <p class="card-text">Max: {{ forecast.max }} {{ temp_simb }}, Min: {{ forecast.min }} {{ temp_simb }}</p>
                        <div id="img-container">
                            {{ weather }}
                            <img src="https://openweathermap.org/img/wn/{{ icon }}.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>
</div>
<script>
    city = '{{ city }}'
    if (city) {
        weatherInfo = document.getElementById('weather-info').classList.remove('hidden')
        forecastTitle = document.getElementById('forecast-title').classList.remove('hidden')
    }
    temp = '{{ temp_simb }}'

    if (temp == 'C') {
        celciusRadio = document.getElementById('celcius-radio').checked = true
    } else if (temp == 'F') {
        fahrenheitRadio = document.getElementById('fahrenheit-radio').checked = true
    } else if (temp == 'K') {
        kelvinRadio = document.getElementById('kelvin-radio').checked = true
    }
</script>
{% endblock content %}
    